@model EmployeeManagement.Models.ApprovalsUserMatrix

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ApprovalsUserMatrix</h4>
    <hr />
    <dl class="row">
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.User.Id)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DocumentType)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.DocumentType.Id)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkflowUserGroup)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkflowUserGroup.Id)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.Active)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedById)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedById)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedOn)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedOn)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedById)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedById)
        </td>
        <th class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModifiedOn)
        </th>
        <td class = "col-sm-10">
            @Html.DisplayFor(model => model.ModifiedOn)
        </td>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id"><i class="bx bxs-edit"></i> Edit</a> |
    <a asp-action="Index"><i class="bi bi-skip-backward-fill"></i> Back to List</a>
</div>
