@model IEnumerable<EmployeeManagement.Models.WorkFlowUserGroup>

@{
    ViewData["Title"] = "Workflow User Groups";
}
<div class="card">
    <div class="card-header">
        <div class="mb-3 float-right">
            <a asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-square"></i>  Add New Workflow User Group
            </a>
        </div>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DocumentTypeId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DocumentType.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Department.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bx bxs-edit"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

