@model IEnumerable<EmployeeManagement.Models.ApprovalEntry>

@{
    ViewData["Title"] = "Index";
}
<div class="card">
    <div class="card-header">
        <h3 class="card-title">Approval Entries List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="table-responsive">
            <table id="example1" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.RecordId)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DocumentType)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SequenceNo)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Approver)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DateSentForApproval)
                        </th>
                        <th>View</th>
                        <th>Approve</th>
                        <th>Reject</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.RecordId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DocumentType.Description)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SequenceNo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Approver.FullName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DateSentForApproval)
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-warning btn-sm"><i class="bx bxs-show"></i> View</a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary btn-sm"><i class="bx bxs-check-circle"></i> Approve</a>
                            </td>
                            <td>
                                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-danger btn-sm"><i class="bi bi-x-circle-fill"></i> Reject</a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $("#approvalTable").DataTable({
        responsive: false,
        autoWidth: false
    });
</script>

